version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "8080:80"
    volumes:
      - ./storage/html:/usr/share/nginx/html
      - ./storage/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
