version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./storage/html:/usr/share/nginx/html:ro
      - ./storage/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./storage/cache:/var/cache/nginx:rw
      - ./storage/sites-available:/etc/nginx/sites-enabled:ro
      - ./storage/certs:/etc/nginx/certs:ro

      
    restart: unless-stopped
